USE [master]
GO
/****** Object:  Database [Knjiznica]    Script Date: 17.05.2024 20:40:08 ******/
CREATE DATABASE [Knjiznica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Knjiznica', FILENAME = N'C:\roxoft_exercise\Knjiznica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Knjiznica_log', FILENAME = N'C:\roxoft_exercise\Knjiznica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Knjiznica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Knjiznica]
GO
/****** Object:  Table [dbo].[članovi]    Script Date: 17.05.2024 20:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[članovi](
	[član_id] [int] NOT NULL,
	[ime] [varchar](50) NULL,
	[prezime] [varchar](50) NULL,
	[adresa_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[član_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kategorije_knjiga]    Script Date: 17.05.2024 20:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kategorije_knjiga](
	[kategorija_id] [int] NOT NULL,
	[naziv] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[kategorija_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[knjige]    Script Date: 17.05.2024 20:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[knjige](
	[knjiga_id] [int] NOT NULL,
	[naslov] [varchar](100) NULL,
	[autor] [varchar](100) NULL,
	[kategorija_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[knjiga_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mjesta_stanovanja]    Script Date: 17.05.2024 20:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mjesta_stanovanja](
	[adresa_id] [int] NOT NULL,
	[grad] [varchar](50) NULL,
	[država] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[adresa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posudbe]    Script Date: 17.05.2024 20:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posudbe](
	[posudba_id] [int] NOT NULL,
	[član_id] [int] NULL,
	[knjiga_id] [int] NULL,
	[datum_posudbe] [date] NULL,
	[datum_vraćanja] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[posudba_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[članovi]  WITH CHECK ADD FOREIGN KEY([adresa_id])
REFERENCES [dbo].[mjesta_stanovanja] ([adresa_id])
GO
ALTER TABLE [dbo].[knjige]  WITH CHECK ADD FOREIGN KEY([kategorija_id])
REFERENCES [dbo].[kategorije_knjiga] ([kategorija_id])
GO
ALTER TABLE [dbo].[posudbe]  WITH CHECK ADD FOREIGN KEY([član_id])
REFERENCES [dbo].[članovi] ([član_id])
GO
ALTER TABLE [dbo].[posudbe]  WITH CHECK ADD FOREIGN KEY([knjiga_id])
REFERENCES [dbo].[knjige] ([knjiga_id])
GO
USE [master]
GO
